[user]
	email = adamhalldesigns@gmail.com
	name = Adam Hall
[includeIf "gitdir:~/Service/"]
  path = ~/.sky.gitconfig
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[push]
	default = simple
