.ideavimrc linguist-language=Vim-Script
.tmux.conf linguist-language=shell
tmux.conf linguist-language=shell
*.nu linguist-language=Nushell
.config/wezterm/build/build.lua binary diff=binary linguist-generated=true
