let mapleader = " "
" To find the action name, type ":actionlist declaration" - gives a subset of action names that include the word "declaration" in the action name.

" In addition to :actionlist command, IdeaVim provides IdeaVim: track action Ids option to extract the ids of executed command. This option can be found in "Search everywhere" (double shift).

set surround
set multiple-cursors
set commentary
set relativenumber
" change arguments as object
set argtextobj
" global clipboard
set clipboard+=unnamed
map s :action AceAction<CR>

imap jk <Esc>
set timeoutlen=1000

nmap gh :action QuickJavaDoc<CR>
nmap gi :action QuickImplementations<CR>
nmap gH :action QuickTypeDefinition<CR>

imap § #

" TODO not yet working
map <Leader>; :action GotoAction<CR>
" map <Leader><Leader> :action GotoFile<CR>
map <Leader><Leader> :action SearchEverywhere<CR>

" buffer
map <Leader>br :action RenameFile<CR>
" got to last buffer
map <Leader>bb :buffer #<CR>
map <Leader>bj :action RecentLocations<CR>
map <Leader>bp :action JumpToLastWindow<CR>
map <Leader>bl :action RecentFiles<CR>

" errors
map <Leader>eh :action ShowErrorDescription<CR>
map <Leader>en :action GotoNextError<CR>
map <Leader>ep :action GotoPreviousError<CR>

" file
map <Leader>fr :action RenameFile<CR>
map <Leader>fc <Action>(ReformatCode)

" ActivateTerminalToolWindow
" lsp
map <Leader>li :action GotoImplementation<CR>
map <Leader>lu :action FindUsages<CR>
map <Leader>lh :action TypeHierachy<CR>
" peak
map <Leader>lp :action QuickDefinition<CR>

" g
map <Leader>gh :action QuickTypeDefinition<CR>

" toggle
map <Leader>tz :action ToggleZenMode<CR>

" search
map <Leader>si :action FileStructurePopup<CR>
map <Leader>sp :action FindUsages<CR>
" fuzzy search for functions
map <Leader>ss :action GotoSymbol<CR>
map <Leader>sf :action Find<CR>

" refactor
map <Leader>rr :action Refactorings.QuickListPopupAction<CR>
map <Leader>rn :action RenameElement<CR>

"open
map <Leader>od :action SelectInProjectView<CR>

" project
map <Leader>pc :action ChooseRunConfiguration<CR>
map <Leader>pt :action GotoTest<CR>

" window
map <Leader>ww :vsplit<CR>
map <Leader>wk :action Unsplit<CR>
map <Leader>ws :action MoveEditorToOppositeTabGroup<CR>
map <Leader>W :action HideAllWindows<CR>

" terminal
" globally bound to <c-\>