<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.codethread.syncengine</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{HOME}}/.local/bin/syncengine</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{PATH}}</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{LOGFILE}}</string>
    <key>StandardErrorPath</key>
    <string>{{LOGFILE}}</string>
</dict>
</plist>
